.top{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.con{
  display: none;
}

.head{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.head h1{
  font-weight: 500;
}

.plan{
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-left: auto;
  margin-right: 12%;
  margin-bottom: -30px;
}

.plan p{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(108, 101, 101);
}

h3{
  width: 10%;
  text-wrap: nowrap;
  text-align: center;
  font-weight: normal;
}

.plan h2{
  color: #004BA0;
  font-weight: 500;
  font-size: 25px;
}

.imgAtt{
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.btns{
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin: 30px 10% 30px auto;
  border-radius: 20px;
}

.non{
  display: none;
}

.btnMobile{
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 642px) {

  .head{
    text-align: center;
  }

  span{
    font-size: 18px;
  }

  .plan {
    color: #BDBDBD;
    display: flex;
    margin: 0 auto; 
    justify-content: center; 
    column-gap: 10px;
  }

  h3{
    width: 100%;
    text-align: initial;
  }

  .btnMobile{
    display: block;
    text-align: center;
    padding: 10px;
  }
  
  .non{
    display: block;
  }

  .plan h2{
    color: black;
    font-weight: 400;
  }

  .imgAtt,.btns{
    display: none;
    width: 320px;
  }

  .plan p{
    display: none;
  }

  .con{
    width: 90%;
    display: flex;
    margin: 0 auto;
    column-gap: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #BDBDBD;
  }

  .det{
    margin-top: 40px;
    text-wrap: initial;
    
  }

  .type{
    width: 80%;
  }

}